@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Lobster&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(81, 78, 78);
}

.container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='text'] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    font-size: 14px;
}

#btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#btn:hover {
    background-color: #1677de;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
}

.image-box {
    width: 400px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    background-color: aliceblue;
}

.image-box img {
    display: block;
    height: 78%;
    width: 100%;
}

.image-box h6 {
    font-family: 'Changa', sans-serif;
    margin-top: 3px;
    font-size: 16px;
    text-transform: uppercase;
}
.image-box h5 {
    font-weight: bolder;
    font-size: 17px;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container button {
    width: 45%;
}

.btn-container .deleteBtn,
.btn-container .editBtn {
    margin: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container .editBtn {
    background-color: #0eb82a;
}

.error.err {
    display: inline-block;
    background-color: #dc3545;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    margin-left: auto;
    margin-left: auto;
    margin: 10px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    border: 4px solid #3498db;
    border-top: 4px solid #e74c3c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    input[type='text'] {
        width: 80%;
    }

    #btn {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    input[type='text'] {
        width: 90%;
    }

    #btn {
        width: 90%;
    }
}
