@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

input[type='text'] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
}

.image-box {
    width: 400px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 224px;
    height: 400px;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
}

.image-box h6 {
    text-transform: uppercase;
}

.btn-container {
    margin-top: 10px;
}

.btn-container .deleteBtn,
.btn-container .editBtn {
    margin: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container .editBtn {
    background-color: #0e3bb8;
}

.error.err {
    display: inline-block;
    background-color: #dc3545;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    margin-left: auto;
    margin-left: auto;
    margin: 10px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
